@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

@font-face {
  font-family: Exo2;
  src: url("..\\..\\fonts\\Exo2-Bold.ttf");
}

@font-face {
  font-family: Lato;
  src: url("..\\..\\fonts\\Lato-Regular.ttf");
}


body {
    /* background-image: url("..\\..\\bcg\\bcg1.jpg"); */
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position: center;
    /* Add other CSS properties as needed */
  }
  
  #navigation-bar {
    /* background: linear-gradient(to bottom, rgb(104, 104, 104), rgb(87, 87, 87)); */
    background-image: radial-gradient(circle at center, #7b92bd 0%, #6394aa 51%, #536161 100%);
    /* background-image: radial-gradient(circle at center, #d5dff1 0%, #6394aa 51%, #596153 100%); */
  }

  #page_title {
    font-family: Exo2;
    font-weight: bolder;
    font-size: 42px;
    color: rgb(255, 153, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    margin-left: -115px !important;
  }

  #version {
    font-family: Exo2;
    font-weight: normal;
    font-size: 18px;
    color: rgb(255, 153, 0);
  }

  #page_title:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 30px;
    /* color: rgb(255, 153, 0); */
    color: rgb(140, 247, 255);
  }

  #nav_item,
  #navbarScrollingDropdown {
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-size: 17px;
  }


  .nav-item-persian {
    font-family: IranSans;
    font-weight: bolder;
    font-size: 16spx;
    color: rgb(255, 255, 255);
  }


  .navbar-light .navbar-nav .nav-link.nav-item-english {
    color: white;
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    transition: background-color 0.0s, border-radius 0.0s;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    /* background-color: rgb(105, 105, 105); */
    border-radius: 30px;
    color: rgb(105, 252, 183);
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  #logo {
    content: url("..\\..\\bcg\\logo3.png");
    width: 40px;
    height: 40px;
  }

  #logo-AI {
    /* background-image: linear-gradient(to bottom, #91f569, #7dffee, #c1caf0, #d58cff, #ff93ff);  */
    /* background: linear-gradient(145.8deg, rgb(77, 252, 208) 0%, rgb(119, 196, 252) 47.6%, rgb(249, 183, 255) 87.8%); */
    background: linear-gradient(25deg, rgb(237, 197, 255) 15%, rgb(192, 188, 255) 40.6%, rgb(150, 208, 255) 65.8%, rgb(154, 226, 255) 85.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .shortcut-guide {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 10px;
  }

  .shortcut-guide-highlight {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 153, 0); 
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 10px;
  }


  .login-btn {
    font-family: Lato ;
    font-size: 17px;
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    background-color: rgb(97, 151, 92);
  }

  .username-btn {
    font-family: Lato ;
    font-size: 17px;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
    border: 0px;
    background-color:  rgb(85, 119, 231);
  }

  .logout-btn {
    font-family: Lato ;
    font-size: 17px;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
    border: 0px;
    background-color: rgb(163, 56, 56);
  }