@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

body {
    background-image: url("..\\..\\bcg\\bcg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position: center;
    /* Add other CSS properties as needed */
  }

  nav {
    background-color: rgb(0, 0, 0);
}

  #page_title {
    font-family: IranSans;
    font-weight: bolder;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  #nav_item,
  #navbarScrollingDropdown {
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-size: 17px;
  }


  #nav_item-persian {
    font-family: IranSans;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

  .navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(99, 99, 99);
    color:rgb(27, 27, 27);
    border-radius: 15px
}


#logo {
  content: url("..\\..\\bcg\\logo3.png");
  width: 32px;
  height: 32px;
}
