@font-face {
    font-family: B_Nazanin_Bold;
    src: url("..\\..\\fonts\\B_Nazanin_Bold.ttf");
  }
  
  @font-face {
    font-family: B_Titr_Bold;
    src: url("..\\..\\fonts\\B_Titr_Bold.ttf");
  }
  
  @font-face {
    font-family: B_Nazanin;
    src: url("..\\..\\fonts\\B_Nazanin.ttf");
  }
  
  @font-face {
    font-family: IranSans;
    src: url("..\\..\\fonts\\IranSans.ttf");
  }
  
  @font-face {
    font-family: RobotoSlab;
    src: url("..\\..\\fonts\\RobotoSlab.ttf");
  }
  
  .form-control.english-text {
    font-family: RobotoSlab ;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    text-align: left;
  }
  
  .form-control.persian-text {
    font-family: IranSans ;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: right;
  }

  .th-persian{
    font-family: IranSans ;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .th-english{
    font-family: RobotoSlab ;
    font-size: 19px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }


  .table-row{
    font-family: IranSans ;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    vertical-align: middle;
  }

  .opt-english{
    font-family: RobotoSlab;
    font-size: 18px;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block;
  }