@font-face {
  font-family: B_Nazanin_Bold;
  src: url("..\\..\\fonts\\B_Nazanin_Bold.ttf");
}

@font-face {
  font-family: B_Titr_Bold;
  src: url("..\\..\\fonts\\B_Titr_Bold.ttf");
}

@font-face {
  font-family: B_Nazanin;
  src: url("..\\..\\fonts\\B_Nazanin.ttf");
}

@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("..\\..\\fonts\\RobotoSlab.ttf");
}


#main-container {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(224, 230, 233);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

#source_text {
  font-family: RobotoSlab ;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

#translation {
  font-family: IranSans ;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: right;
  background-color: #f3f3f3;
}

.persian-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

.english-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.arabic-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

#translate-btn {
  font-family: RobotoSlab;
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  margin: 2px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position:relative;
  left: 15px;
  border-radius: 30px;
}

#translate-btn:hover {
  background-color: rgb(22, 22, 22);
  color: rgb(80, 219, 238);
  font-size: 22px;
}

.box-title {
  font-size: 32px;
  font-weight: bolder;
  color: #030F7F;
}

.box-title-persian {
  font-family: IranSans ;
  font-size: 34px;
  font-weight: bolder;
  color: #030F7F;
  text-align: right;
}

.message_args {
    font-weight: bold;
    font-size: 17px;
  }

#save-btn {
    font-family: RobotoSlab ;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px;
  }

#edit-btn {
    font-family: RobotoSlab ;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px;
  }

  #back-btn {
    font-family: RobotoSlab ;
    background: linear-gradient(to bottom, #9e9e9e, #474747);
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
  }

#remove-btn {
    font-family: RobotoSlab ;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px;
  }

.copy-btn {
    font-family: RobotoSlab ;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: right;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

.clear-btn {
    font-family: RobotoSlab ;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

#copy-icon {
    content: url("..\\..\\icons\\copy-1.png");
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }
  
#clear-icon {
    content: url("..\\..\\icons\\clear-2.png");
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

#save-icon {
    content: url("..\\..\\icons\\save-2.png");
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

.showing-message {
    color: black;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }