@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}


#main-container {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(224, 230, 233);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

#source_text {
  font-family: Tahoma ;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

#translation {
  font-family: IranSans ;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: right;
  background-color: #f3f3f3;
}

.persian-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

.english-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.arabic-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

.hebrew-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#translate-btn {
  font-family: Tahoma;
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  margin: 2px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position:relative;
  left: 15px;
  border-radius: 30px;
}

#translate-btn:hover {
  background-color: rgb(22, 22, 22);
  color: rgb(80, 219, 238);
  font-size: 22px;
}

.box-title {
  font-size: 32px;
  font-weight: bolder;
  color: #030F7F;
}

.box-title-persian {
  font-family: IranSans ;
  font-size: 34px;
  font-weight: bolder;
  color: #030F7F;
  text-align: right;
}

.message_args {
    font-weight: bold;
    font-size: 17px;
  }

  #back-btn {
    font-family: Tahoma ;
    background: linear-gradient(to bottom, #9e9e9e, #474747);
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
  }

#remove-btn {
    font-family: Tahoma ;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 5px;
  }
  
  #arrow-icon {
    content: url("..\\..\\icons\\arrow-6_1.png");
    background-color: transparent;
    width: 70px;
    /* height: 40px; */
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
  }

  #arrow-icon:hover {
    content: url("..\\..\\icons\\arrow-4_1.png");
    padding: 0;
    margin: 0;
    border: 0;
  }

  #arrow-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 0;
  }

.position-relative {
  position: relative;
}

#spinner {
  display: none;
  position: absolute;
  top: 40%;
  left: 47%;
  width: 6rem; /* Adjust the width as needed */
  height: 6rem; /* Adjust the height as needed */
  border-width: 0.6em;
}


.clear-btn {
    font-family: Tahoma ;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 0px;
    background: linear-gradient(to bottom, #9e9e9e, #727272);
  }

  .clear-btn:hover {
    background: linear-gradient(to bottom, #b8b8b8, #929292);
  }

  .copy-btn {
    font-family: Tahoma ;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: right;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 0px;
    background: linear-gradient(to bottom, #00767a, rgb(0, 99, 90));
  }

  .copy-btn:hover {
    background: linear-gradient(to bottom, #009499, rgb(0, 134, 123));
  }

#copy-icon {
    content: url("..\\..\\icons\\copy-1.png");
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }
  
#clear-icon {
    content: url("..\\..\\icons\\clear-2.png");
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

#save-btn, #edit-btn, #remove-btn {
    font-family: Tahoma ;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding: 3px;
    padding-left:  6px;
    padding-right: 6px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 0px;
    background: linear-gradient(to bottom, #59a769, #1e720e);
}

#save-btn:hover,  #edit-btn:hover{
  background: linear-gradient(to bottom, #71bb80, #3f922e);
}

#remove-btn {
  background: linear-gradient(to bottom, #a75959, #720e0e);
}

#save-icon {
    content: url("..\\..\\icons\\save-2.png");
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

.showing-message {
    color: black;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  textarea {
    height: calc(92vh - 170px);
  }

  #d1 {
    position: absolute;
    top: 100px;
    right: calc(50vw - 40px);
    padding: 0;
    margin: 0;
    border: 0;
  }

  #swap-btn {
    position: absolute;
    top: calc(92vh + 8px);
    right: calc(50vw - 17px);
    padding: 0;
    margin: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }


  #swap-icon{
    content: url("..\\..\\icons\\swap.png");
    width: 36px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }


  #swap-icon:hover {
    content: url("..\\..\\icons\\swap-hover.png");
}

#translateSpinner {
  width: 1.3rem;
  height: 1.3rem;
  border-width: 0.35rem;
  font-size: 1.6rem; /* Adjust the font size as needed */
}
  
#translateButton {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
  border-color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  display: block;
}

#translateButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

#documentModalBtn {
  background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
  border-color: rgb(224, 230, 233);
  /* padding: 15px 45px; */
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 8px;
  display: block;
}

#documentModalBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
}

.save-btn-hidden-space {
    visibility: hidden; /* Makes the button invisible */
    /* You might also want to prevent it from being clickable if invisible */
    pointer-events: none; /* Prevents mouse events (like clicks) on the invisible area */
}