@font-face {
  font-family: B_Nazanin_Bold;
  src: url("..\\..\\fonts\\B_Nazanin_Bold.ttf");
}

@font-face {
  font-family: B_Titr_Bold;
  src: url("..\\..\\fonts\\B_Titr_Bold.ttf");
}

@font-face {
  font-family: B_Nazanin;
  src: url("..\\..\\fonts\\B_Nazanin.ttf");
}

@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("..\\..\\fonts\\RobotoSlab.ttf");
}


#main-container {
  background-color: rgba(206, 206, 206, 0.87);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

#Textbox-2 {
  font-family: RobotoSlab ;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

#Textbox-1 {
  font-family: IranSans ;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: right;
}

.persian-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

.english-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#translate-btn{
  font-family: IranSans ;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
}

.box-title {
  font-size: 32px;
  font-weight: bolder;
  color: #030F7F;
}

.box-title-persian {
  font-family: IranSans ;
  font-size: 34px;
  font-weight: bolder;
  color: #030F7F;
  text-align: right;
}

  .message_args {
    font-weight: bold;
    font-size: 17px;
  }

  #edit-btn,
  #remove-btn,
  #save-btn {
    font-family: IranSans ;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
  }

#copy-btn {
  font-family: IranSans ;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
}


#clear-btn {
  font-family: IranSans ;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  margin-right: 20px;
}