@font-face {
  font-family: B_Nazanin_Bold;
  src: url("..\\..\\fonts\\B_Nazanin_Bold.ttf");
}

@font-face {
  font-family: B_Titr_Bold;
  src: url("..\\..\\fonts\\B_Titr_Bold.ttf");
}

@font-face {
  font-family: B_Nazanin;
  src: url("..\\..\\fonts\\B_Nazanin.ttf");
}

#main-container {
  background-color: #cecece ;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
}


.box-title {
  font-size: 32px;
  font-weight: bolder;
  color: #030F7F;
}

.box-title-persian {
  font-family: B_Titr_Bold ;
  font-size: 34px;
  font-weight: bolder;
  color: #030F7F;
  text-align: right;
}


#persianTextbox {
  font-family: B_Nazanin ;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  text-align: right;
}


#EnglishTextbox{
  font-family: sans-serif ;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}


#translate-btn{
  font-family: B_Titr_Bold ;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  margin: 15px;
}


.clear-btn {
  margin-right: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.35); /* IE */
  -moz-transform: scale(1.35); /* FF */
  -webkit-transform: scale(1.35); /* Safari and Chrome */
  -o-transform: scale(1.35); /* Opera */
  transform: scale(1.35);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}


#clear_coords, #clear_dates {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(212, 212, 212));
  background-size: 100%;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 16px;
}

#fill_coords {
  /* background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(170, 170, 170)); */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 46, 114));
  background-size: 100%;
  background-position: up;
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  /* font-weight: bold; */
  font-size: 17px;
  }


  #last_10_days{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(212, 212, 212));
    background-size: 100%;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 16px;
  }

  .message_args {
    font-weight: bold;
    font-size: 17px;
  }