@font-face {
  font-family: B_Nazanin_Bold;
  src: url("..\\..\\fonts\\B_Nazanin_Bold.ttf");
}

@font-face {
  font-family: B_Titr_Bold;
  src: url("..\\..\\fonts\\B_Titr_Bold.ttf");
}

@font-face {
  font-family: B_Nazanin;
  src: url("..\\..\\fonts\\B_Nazanin.ttf");
}

@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("..\\..\\fonts\\RobotoSlab.ttf");
}


#main-container {
  background-color: #cecece ;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#Textbox-1 {
  font-family: sans-serif ;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

#Textbox-2 {
  font-family: IranSans ;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  text-align: right;
}

.persian-btn {
  font-family: IranSans;
  font-size: 18px;
  font-weight: normal;
}

.english-btn {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#translate-btn{
  font-family: IranSans ;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
}

.clear-btn {
  margin-right: 20px;
}

.box-title {
  font-size: 32px;
  font-weight: bolder;
  color: #030F7F;
}

.box-title-persian {
  font-family: IranSans ;
  font-size: 34px;
  font-weight: bolder;
  color: #030F7F;
  text-align: right;
}

  .message_args {
    font-weight: bold;
    font-size: 17px;
  }