{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="{% static 'icons/logo3.png' %}" type="image/png">
   {% block head-title %}
      <title>Translation</title>
   {% endblock %}

    {% block head-static-essential %}
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/base.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

   {% block head-static %}
   {% endblock %}
</head>
<body>
    {% block navbar %}
    <style>

    </style>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand logo" id="page_title" href="{% url 'main:translation' %}">
            مترجم
            <img id="logo" width="54" height="30" class="d-inline-block align-text-center">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-center" >
                    <li class="nav-item" >
                        <a class="nav-link active" id="nav_item-persian" aria-current="page" href="{% url 'main:translation' %}">صفحه اصلی</a>
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:translation' %}">Convert coordinations</a></li>
                            <li><a class="dropdown-item" href="#">Calculate distance between two points</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li> {% endcomment %}

                </ul>
                <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto">
                    {% comment %} {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link active" id="nav_item" aria-current="page" href="{% url 'main:translation' %}">Supervisor panel</a>
                        </li>
                    {% endif %}  {% endcomment %}
                    <li class="nav-item" >
                        <a class="nav-link active" id="nav_item-persian" aria-current="page" href="{% url 'main:saved_table' %}">ذخیره شده‌ها</a>
                    </li>
                    <li class="nav-item" style="display: flex; align-items: center;">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'users:login' %}" style="font-size: 17px; margin: 3px" class="btn btn-success" type="button">Log in</a>
                    {% else %}
                        <a href="{% url 'users:profile' %}" style="font-size: 17px; margin: 4px; padding: 6px" class="btn btn-primary" type="button">@{{user.username}}</a>
                    {% endif %}
                    </li>
                    <li class="nav-item" style="display: flex; align-items: center;">
                        <a href="{% url 'users:logout' %}" id="nav_item-persian" style="font-size: 17px; margin: 4px; padding: 6px" class="btn btn-danger" type="button">خروج</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}
   </body>
</html>