{% extends "main\\base.html" %}
{% load static %}
{% load custom_filters %}

{% block head-title %}
    <title>Saved texts</title>
{% endblock %}

{% block head-static %}
<script type="text/javascript" src="{% static 'js/main/saved_table.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main/saved_table.css' %}">
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css//select2.min.css' %}">
{% endblock %}


{% block body %}
<div class="container-fluid" style="padding: 7px">
<div id="main-container" class="row">
    <div class="col-12" style="background-color: #ffffff ; padding: 20px; padding-bottom: 10px; border-radius: 25px;">
    <form id="user_saved_form" action="{% url 'main:supervisor_table' %}" method="post">
    {% csrf_token %}
    <div class="dropdown">
        <select class="select2" id="username" style="width: 150px;">
        <option value='all_users' {% if selected_user == 'all_users' %} selected {% endif %}>All users</option>
        <optgroup label="Users">
        {% for user in users_list %}
        {% if selected_user == user.username %}
            <option value="{{ user.username }}" selected>{{user.username}}</option>
            {% else %}
            <option value="{{ user.username }}">{{user.username}}</option>
        {% endif %}
        {% endfor %}
        </optgroup>
        </select>
        <button id="user_saved_btn" class="select-user-btn" type="submit" onclick="appendAESKeyAndSubmit(event, this)">Select</button>
        <input type="hidden" name="selected_username" id="selected_username">
    </div>
    </form>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                {% comment %} <th scope="col" class="table-head">کد ذخیره</th>
                <th scope="col" class="table-head th-persian">متن ورودی</th>
                <th scope="col" class="table-head th-persian">ترجمه</th>
                <th scope="col" class="table-head th-persian">تاریخ ذخیره‌سازی</th>
                <th scope="col" class="table-head th-persian">گزینه‌ها</th> {% endcomment %}
                <th scope="col" class="col-0.5 table-head th-english">#</th>
                {% if mode == "supervisor" %}
                <th scope="col" class="col-1.5 table-head th-english">Username</th>
                {% endif %}
                <th scope="col" class="col-3 table-head th-english">Input text</th>
                <th scope="col" class="col-3 table-head th-english">Translation</th>
                <th scope="col" class="col-2 table-head th-english">Saving date & time</th>
                <th scope="col" class="col-1.5 table-head th-english">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for saved_task in page_objects %}
            <tr class="clickable parent-task" aria-expanded="true">
            <div class="row">

                <td class="table-row">{{ saved_task.order|fa_digits }}</td>
                {% comment %} <td class="table-row">{{ saved_task.order }}</td> {% endcomment %}

                {% if mode == "supervisor" %}
                <td scope="col" class="col-1.5 table-head th-english" style="color: blue; align-items: center; justify-content: center; vertical-align: middle;">@{{saved_task.user.username}}</th>
                {% endif %}
                
                <td class="concise_text">
                    <textarea {% if saved_task.source_language == "fa" or saved_task.source_language == "ar" %} class="form-control persian-text" rows="4" {% else %} class="form-control english-text" rows="3" {% endif %} name="translation" readonly style="display:none;">{{ saved_task.source_text }}</textarea>
                </td>
                
                <td class="concise_text">
                    <textarea {% if saved_task.target_language == "fa" or saved_task.target_language == "ar" %} class="form-control persian-text" rows="4" {% else %} class="form-control english-text" rows="3" {% endif %} name="translation" readonly style="display:none;">{{ saved_task.translation }}</textarea>
                </td>
                
                <div class="col-2">
                <td class="table-row">{{ saved_task.save_time|fa_digits }}</td>
                </div>

                <div class="col-3">
                </div>
                    <td style="text-align: center; vertical-align: middle;">
                    <div class="col-12">
                        <form class="task-form" action="{% url 'main:edit_saved_text' saved_task.task_id %}" method="post">
                        {% csrf_token %}
                        <a class="btn btn-primary opt-english" href="#" onclick="appendAESKeyAndSubmit(event, this)">View</a>
                        </form>
                    </div>
                    </td>
                </div>
            </tr>
            {% endfor %}
            <input type="hidden" id="mode" name= "mode" value="{{ mode }}">
            
            <form id="page-form" action="{% url 'main:supervisor_table' %}?page={{n_page}}" method="post">
            {% csrf_token %}
            </form>
            {% comment %} <nav style="text-align: center; background-color: White; padding-top: 10px">
                <ul class="pagination">
                    {% if num_pages <= 10 %}
                        {% for n_page in pages_range %}
                            {% if n_page == page_objects.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="{% url 'main:saved_table' %}?page={{n_page}}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'main:saved_table' %}?page={{n_page}}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for n_page in pages_range %}
                            {% if n_page <= 10 %}
                                {% if n_page == page_objects.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="{% url 'main:saved_table' %}?page={{n_page}}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'main:saved_table' %}?page={{ n_page }}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if page_objects.number > 10 %}
                            <li class="page-item active">
                                <a class="page-link" href="{% url 'main:saved_table' %}?page={{ page_objects.number }}" onclick="appendAESKeyAndSubmit(event, this)">{{ page_objects.number }}</a>
                            </li>
                        {% endif %}
                        {% if page_objects.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'main:saved_table' %}?page={{page_objects.next_page_number}}" onclick="appendAESKeyAndSubmit(event, this)">Next</a>
                            </li>
                        {% endif %}
                        {% if page_objects.number != num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'main:saved_table' %}?page={{num_pages}}" onclick="appendAESKeyAndSubmit(event, this)">{{num_pages}}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav> {% endcomment %}
            <tbody>
        </table>
            <nav style="text-align: center; background-color: White; padding-top: 10px">
                <ul class="pagination">
                {% if num_pages <= 10 %}
                {% for n_page in pages_range %}
                    {% if n_page == page_objects.number %}
                        <li class="page-item active"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{n_page}}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{ n_page }}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% else %}
                {% for n_page in pages_range %}
                    {% if n_page <= 10 %}
                        {% if n_page == page_objects.number %}
                            <li class="page-item active"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{n_page}}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{ n_page }}" onclick="appendAESKeyAndSubmit(event, this)">{{ n_page }}</a></li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if page_objects.number > 10 %}
                    <li class="page-item active"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{ page_objects.number }}" onclick="appendAESKeyAndSubmit(event, this)">{{ page_objects.number }}</a></li>
                    {% endif %}
                    {% if page_objects.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{page_objects.next_page_number}}" onclick="appendAESKeyAndSubmit(event, this)">Next</a></li>
                    {% endif %}
                    {% if page_objects.number != num_pages %}
                    <li class="page-item"><a class="page-link" href="{% url 'main:supervisor_table' %}?page={{num_pages}}" onclick="appendAESKeyAndSubmit(event, this)">{{num_pages}}</a></li>
                    {% endif %}
                {% endif %}
                </ul>
            </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block static-end_body %}
<script>

window.onload = function() {
    // Get all elements with class "form-control persian-text" and "form-control english-text"
    var elements = document.querySelectorAll('.form-control.persian-text, .form-control.english-text');

    elements.forEach(function(element) {
        var elementValue = element.value;
        var aesRawKey = localStorage.getItem("aesRawKey_translation", aesRawKey);
        var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
        var decryptedText = CryptoJS.AES.decrypt(elementValue, aesKey, {mode: CryptoJS.mode.ECB}).toString(CryptoJS.enc.Utf8);
        decryptedText = decryptedText.replace(/[\x00-\x09\x0B-\x1F\x7F-\x9F]/g, '');
        element.value = decryptedText;
        element.style.display ='flex';
    });
    localStorage.removeItem("aesRawKey_translation");
}

function generateRandomKey(length) {
      var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      var result = "";
      for (var i = 0; i < length; i++) {
        result += charset.charAt(Math.floor(Math.random() * charset.length));
      }
      return result;
    }

function appendAESKeyAndSubmit(event, element) {
    var publicKey = "-----BEGIN PUBLIC KEY-----\n" +
        "MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvRW2QcbKbzDobMdkLqvY\n" +
        "Fb66Ih41T1+X3spW1WP6UduM1kS+bVh7HwG23pt8e/XJAf9G4IhWTZfkgVBdMsFP\n" +
        "UfCJDiP/9cbQBgNDtT85jlFHjB1dBlJ51Hh8kDkx/1/dgy2b/ZjJ0YwAFLpk2k8W\n" +
        "ZO8wtIOEHMSdLryVh8Jkpk1qSYZPZZuW+QEE/G+TJcF286mLEpTfZ/RQN4mg/nCS\n" +
        "FhW4Rv9wnF8dhgU43kTiLwV8wVgOTKxAseDxMyvbjKiiH+u5YByZNN1hPVFSYQNx\n" +
        "06IK0Ea7wk0UTRhCwLFu2AOPGL3AylFnjlHCd+/vbDrW3WDj3KRTbZFxtysYqn3B\n" +
        "SnNZy6D1xPn79nsgWfKrgQo9KTgP9gpSoebBZwFIRmBD5Q2BpwZvbZj5lJgEYJpe\n" +
        "xH5LW6Rfv2GZjU+S5SEPNXMlSf6kmfbJAEhsyqKj+tWZtri3AfEBhG7hkmmz51zA\n" +
        "32JwSGV/IFqblOHsONsZizOl4OxzSytgfhCyOkAg6zcb5Hcd3Zod0SHscgkYPAeO\n" +
        "9ZZvD6pneRrcB1tgBPz3CSp6UOe9ktK0Lo5ZlapNUmpIR1Av/immdBnfRfB6m+ax\n" +
        "efNjY6Myl8/aepuND/E1MJviOMCm3cyrmOsNj5rwg2AIGO4vw4hdjXqOLez87t/X\n" +
        "OYNP74TrWvLmcNmlKfQNfMsCAwEAAQ==\n" +
        "-----END PUBLIC KEY-----";
    event.preventDefault(); // Prevent the default behavior of the link
    var mode_element = document.getElementById("mode");

    // Generate a random 128-bit (16 bytes) AES key
    var aesRawKey = generateRandomKey(16)
    var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
    localStorage.setItem("aesRawKey_translation", aesRawKey);

    // RSA Encryption on AES key using RSA public key
    var encrypt = new JSEncrypt();
    encrypt.setPublicKey(publicKey);
    var encryptedAesKey = encrypt.encrypt(aesKey.toString(CryptoJS.enc.Base64));

    if (element.id === "user_saved_btn") {
        var form = document.getElementById("user_saved_form");
        var selectedOption = document.getElementById("username").value;
        var selectedUser = document.getElementById("selected_username")
        selectedUser.value = selectedOption;
        form.appendChild(selectedUser);
    } else if (element.className === "page-link") {
        var form = document.getElementById("page-form");
        form.action = element.href;
        form.method = "post";
    } else {
        var form = element.closest('.task-form');
        var supervisor_mode = document.createElement("input");
        supervisor_mode.type = "hidden";
        supervisor_mode.name = "supervisor_mode";
        form.appendChild(supervisor_mode);

        var selected_user = document.createElement("input");
        selected_user.type = "hidden";
        selected_user.name = "selected_user";
        selected_user.value = document.getElementById("username").value
        form.appendChild(selected_user);
    }

    // Embed AES key into the form
    var hiddenEncryptedAESKey = document.createElement("input");
    hiddenEncryptedAESKey.type = "hidden";
    hiddenEncryptedAESKey.name = "encryptedAesKey";
    hiddenEncryptedAESKey.id = "encryptedAesKey";
    hiddenEncryptedAESKey.value = encryptedAesKey;

    form.appendChild(hiddenEncryptedAESKey);

    var selectedOption = document.getElementById("username").value;
    var selectedUser = document.getElementById("selected_username")
    selectedUser.value = selectedOption;
    form.appendChild(selectedUser);
    form.appendChild(mode_element);

    form.submit();
}


$(document).ready(function() {
  $('.select2').select2();
});


</script>
{% endblock %}