<div class="container-fluid">
    {{ form.media }}
    {% if edit_mode %}
        <form id="translation_form" action="{% url 'main:edit_saved_text' task_id%}" method="post">
    {% else %}
        <form id="translation_form" action="{% url 'main:translation' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="row d-flex justify-content-center" id="main-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        <h6 dir='ltr'>{{ message }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-end">
            <div class="d-flex justify-content-end" style="position: top: 0; right: 0; padding: 0px;">
            <div class="row justify-content-center" id="d1">
                <button type="submit" id="arrow-btn" name="translate-btn" onclick="encryptText(event, 'translating')"><img id="arrow-icon"></button>
            </div>
            {% if edit_mode %}
                {% if mode == "user" %}
                <button type="submit" id="back-btn" name="back-btn" style="margin-right: 85%" onclick="encryptText(event, 'back')">Back</button>
                <button type="submit" id="edit-btn" name="edit-btn" class="btn btn-success" style="margin-right: 10px" onclick="encryptText(event, 'saving'); showMessage('Edit saved!', this)">Apply edits</button>
                <button type="submit" id="remove-btn" name="remove-btn" class="btn btn-danger" onclick="encryptText(event, 'deleting')">Delete</button>
                {% elif mode == "supervisor" %}
                <button type="submit" id="back-btn" name="back-btn" style="margin-right: 95%" onclick="encryptText(event, 'back')">Back</button>
                {% endif %}
            {% else %}
                <button type="submit" id="save-btn" name="save-btn" class="btn btn-success" onclick="encryptText(event, 'saving'); showMessage('Saved!', this)"><img id="save-icon">Save</button>
            {% endif %}
            </div>
                <div class="col-md-6">
                <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px; margin-top: 0px;">
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-en" autocomplete="off" value="en" onclick="disableCorrespondingRadio('input', this); changeText(this)" checked>
                        <label class="btn btn-outline-primary english-btn" for="btnInput-en">English</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-ar" autocomplete="off" value="ar" onclick="disableCorrespondingRadio('input', this); changeText(this)">
                        <label class="btn btn-outline-primary arabic-btn" for="btnInput-ar">العربي</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-fa" autocomplete="off" value="fa" onclick="disableCorrespondingRadio('input', this); changeText(this)">
                        <label class="btn btn-outline-primary persian-btn" for="btnInput-fa">فارسی</label>
                    </div>
                    </div>
                    <div style="position: relative;">
                    <textarea class="form-control" name="source_text" id="source_text" rows="21" placeholder="Enter English text" oninput="updateCharacterCount();"></textarea>
                    <span id="charCount" style="position: absolute; bottom: -25px; right: 0px; padding: 0; margin: 0; font-weight: bold;"></span>
                    <input type="hidden" id="source_text_hidden" value="{{ source_text }}">
                    </div>
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary clear-btn" onclick="clearText('source_text'); showMessage('Cleared!', this); updateCharacterCount()"><img id="clear-icon"></button>
                        <button type="button" class="btn btn-success copy-btn" onclick="copyText('source_text'); showMessage('Copied!', this)"><img id="copy-icon"></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px; margin-top: 0px;">
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-en" value="en" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)">
                        <label class="btn btn-outline-primary english-btn" for="btnOutput-en">English</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-ar" value="ar" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)">
                        <label class="btn btn-outline-primary arabic-btn" for="btnOutput-ar">العربي</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-fa" value="fa" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)" checked>
                        <label class="btn btn-outline-primary persian-btn" for="btnOutput-fa">فارسی</label>
                    </div>
                    </div>
                    <div class="position-relative">
                      <textarea class="form-control" name="translation" id="translation" rows="26" readonly dir='rtl'></textarea>
                      <div class="spinner-border text-primary" id="spinner" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                    <input type="hidden" id="translation_hidden" value="{{ translation }}">
                    <input type="hidden" id="selected_user" name= "selected_user" value="{{ selected_user }}">
                    <input type="hidden" id="mode" name= "mode" value="{{ mode }}">
                    <input type="hidden" id="source_lang" name= "source_lang" value="{{ source_lang }}">
                    <input type="hidden" id="target_lang" name= "target_lang" value="{{ target_lang }}">
                    <input type="hidden" id="current_state" value="{{ source_lang }}">
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary clear-btn" onclick="clearText('translation'); showMessage('Cleared!', this)"><img id="clear-icon"></button>
                        <button type="button" class="btn btn-success copy-btn" onclick="copyText('translation'); showMessage('Copied!', this)"><img id="copy-icon"></button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>