{% extends "main\base.html" %}
{% load static %}
{% comment %} {% load js %} {% endcomment %}

{% block head-static %}
{% comment %} <script type="text/javascript" src="{% static 'js/main/translation-Eng_default.js' %}"></script> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/translation.css' %}">
<script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
{% comment %} <script src="{% static 'index.min.js' %}"></script> {% endcomment %}
<script src="{% static 'jsencrypt.js' %}"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script> {% endcomenmt %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script> {% endcomment %}
<script src="{% static 'crypto-js.js' %}"></script>
<script>
var sourceText_English = ""
var sourceText_Persian = ""
var sourceText_Arabic = ""
var transText_English = ""
var transText_Persian = ""
var transText_Arabic = ""
function generateRandomKey(length) {
      var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      var result = "";
      for (var i = 0; i < length; i++) {
        result += charset.charAt(Math.floor(Math.random() * charset.length));
      }
      return result;
    }

function encryptText(event, query) {
    if (query === "translating") {
      var inputLang = document.querySelector('input[name="btnRadio_input"]:checked').value;
      var outputLang = document.querySelector('input[name="btnRadio_output"]:checked').value;
      if (inputLang === outputLang) {
        alert("Input and output languages should not be same!");
        event.preventDefault();
        return false;
      }
    }
    var publicKey = "-----BEGIN PUBLIC KEY-----\n" +
                "MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvRW2QcbKbzDobMdkLqvY\n" +
                "Fb66Ih41T1+X3spW1WP6UduM1kS+bVh7HwG23pt8e/XJAf9G4IhWTZfkgVBdMsFP\n" +
                "UfCJDiP/9cbQBgNDtT85jlFHjB1dBlJ51Hh8kDkx/1/dgy2b/ZjJ0YwAFLpk2k8W\n" +
                "ZO8wtIOEHMSdLryVh8Jkpk1qSYZPZZuW+QEE/G+TJcF286mLEpTfZ/RQN4mg/nCS\n" +
                "FhW4Rv9wnF8dhgU43kTiLwV8wVgOTKxAseDxMyvbjKiiH+u5YByZNN1hPVFSYQNx\n" +
                "06IK0Ea7wk0UTRhCwLFu2AOPGL3AylFnjlHCd+/vbDrW3WDj3KRTbZFxtysYqn3B\n" +
                "SnNZy6D1xPn79nsgWfKrgQo9KTgP9gpSoebBZwFIRmBD5Q2BpwZvbZj5lJgEYJpe\n" +
                "xH5LW6Rfv2GZjU+S5SEPNXMlSf6kmfbJAEhsyqKj+tWZtri3AfEBhG7hkmmz51zA\n" +
                "32JwSGV/IFqblOHsONsZizOl4OxzSytgfhCyOkAg6zcb5Hcd3Zod0SHscgkYPAeO\n" +
                "9ZZvD6pneRrcB1tgBPz3CSp6UOe9ktK0Lo5ZlapNUmpIR1Av/immdBnfRfB6m+ax\n" +
                "efNjY6Myl8/aepuND/E1MJviOMCm3cyrmOsNj5rwg2AIGO4vw4hdjXqOLez87t/X\n" +
                "OYNP74TrWvLmcNmlKfQNfMsCAwEAAQ==\n" +
                "-----END PUBLIC KEY-----";
    var plainText = document.getElementById('source_text').value;
    var mode_element = document.getElementById('mode');

    if (plainText.length > 20000) {
        alert("Input texts should not exceed 20,000 characters long regarding computational limits. your input text is " + plainText.length + " characters long.");
        event.preventDefault();
        return false;
    }
    
    if (mode_element.value != "supervisor") {
    var spinner = document.getElementById('spinner');
    spinner.style.display = 'inline-block'; // Show the spinner
    }

    // Generate a random 128-bit (16 bytes) AES key
    var aesRawKey = generateRandomKey(16);
    var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
    localStorage.setItem("aesRawKey_translation", aesRawKey);
    // Encrypt the text with the AES key
    var encryptedText = CryptoJS.AES.encrypt(plainText, aesKey, {mode: CryptoJS.mode.ECB}).toString();
    
    if (query === "saving") {
        var translation = document.getElementById('translation').value;
        var encryptedTranslation = CryptoJS.AES.encrypt(translation, aesKey, {mode: CryptoJS.mode.ECB}).toString();
    }

    // RSA Encryption on AES key using RSA public key
    var encrypt = new JSEncrypt();
    encrypt.setPublicKey(publicKey);
    var encryptedAesKey = encrypt.encrypt(aesKey.toString(CryptoJS.enc.Base64));

    // Embed AES key and encrypted text into the form
    var hiddenEncodedText = document.createElement("input");
    hiddenEncodedText.type = "hidden";
    hiddenEncodedText.name = "encryptedText";
    hiddenEncodedText.id = "encryptedText";
    hiddenEncodedText.value = encryptedText;
    
    var hiddenEncryptedAESKey = document.createElement("input");
    hiddenEncryptedAESKey.type = "hidden";
    hiddenEncryptedAESKey.name = "encryptedAesKey";
    hiddenEncryptedAESKey.id = "encryptedAesKey";
    hiddenEncryptedAESKey.value = encryptedAesKey;
    // Append the hidden input to the form
    var form = document.getElementById("translation_form");
    form.appendChild(mode_element);
    form.appendChild(hiddenEncodedText);
    form.appendChild(hiddenEncryptedAESKey);

    if (query === "saving") {
        var hiddenEncryptedTranslation = document.createElement("input");
        hiddenEncryptedTranslation.type = "hidden";
        hiddenEncryptedTranslation.name = "encryptedTranslation";
        hiddenEncryptedTranslation.id = "encryptedTranslation";
        hiddenEncryptedTranslation.value = encryptedTranslation;

        form.appendChild(hiddenEncryptedTranslation);
    }

    if (query === "back" && mode.value === "supervisor") {
    var selected_user = document.getElementById("selected_user");
    form.appendChild(selected_user);
    }
    
    var source_lang = document.getElementById("source_lang");
    form.appendChild(source_lang);
    var target_lang = document.getElementById("target_lang");
    form.appendChild(target_lang);

    // Return the encrypted text and encrypted AES key
    return {
    encryptedText: encryptedText,
    encryptedAesKey: encryptedAesKey
    };
}

</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div style="position: absolute; top: 11.5%; left: 48.5%; padding: 0; margin: 0;">
    <img id="arrow-icon"></span>
    </div>
    {{ form.media }}
    {% if edit_mode %}
        <form id="translation_form" action="{% url 'main:edit_saved_text' task_id%}" method="post">
    {% else %}
        <form id="translation_form" action="{% url 'main:translation' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="row d-flex justify-content-center" id="main-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        <h6 dir='ltr'>{{ message }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
            <div class="d-flex justify-content-end" style="position: top: 0; right: 0; padding: 0px;">
            {% if edit_mode %}
                {% if mode == "user" %}
                <button type="submit" id="back-btn" name="back-btn" style="margin-right: 85%" onclick="encryptText(event, 'back')">Back</button>
                <button type="submit" id="edit-btn" name="edit-btn" class="btn btn-success" style="margin-right: 10px" onclick="encryptText(event, 'saving'); showMessage('Edit saved!', this)">Apply edits</button>
                <button type="submit" id="remove-btn" name="remove-btn" class="btn btn-danger" onclick="encryptText(event, 'deleting')">Delete</button>
                {% elif mode == "supervisor" %}
                <button type="submit" id="back-btn" name="back-btn" style="margin-right: 95%" onclick="encryptText(event, 'back')">Back</button>
                {% endif %}
            {% else %}
                <button type="submit" id="save-btn" name="save-btn" class="btn btn-success" onclick="encryptText(event, 'saving'); showMessage('Saved!', this)"><img id="save-icon">Save</button>
            {% endif %}
            </div>
                <div class="col-md-6">
                <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px; margin-top: 0px;">
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-en" autocomplete="off" value="en" onclick="disableCorrespondingRadio('input', this); changeText(this)" checked>
                        <label class="btn btn-outline-primary english-btn" for="btnInput-en">English</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-ar" autocomplete="off" value="ar" onclick="disableCorrespondingRadio('input', this); changeText(this)">
                        <label class="btn btn-outline-primary arabic-btn" for="btnInput-ar">العربي</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_input" id="btnInput-fa" autocomplete="off" value="fa" onclick="disableCorrespondingRadio('input', this); changeText(this)">
                        <label class="btn btn-outline-primary persian-btn" for="btnInput-fa">فارسی</label>
                    </div>
                    </div>
                    <div style="position: relative;">
                    <textarea class="form-control" name="source_text" id="source_text" rows="20" placeholder="Enter English text" oninput="updateCharacterCount();"></textarea>
                    <span id="charCount" style="position: absolute; bottom: -25px; right: 0px; padding: 0; margin: 0; font-weight: bold;"></span>
                    <input type="hidden" id="source_text_hidden" value="{{ source_text }}">
                    </div>
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary clear-btn" onclick="clearText('source_text'); showMessage('Cleared!', this); updateCharacterCount()"><img id="clear-icon"></button>
                        <button type="button" class="btn btn-success copy-btn" onclick="copyText('source_text'); showMessage('Copied!', this)"><img id="copy-icon"></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px; margin-top: 0px;">
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-en" value="en" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)">
                        <label class="btn btn-outline-primary english-btn" for="btnOutput-en">English</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-ar" value="ar" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)">
                        <label class="btn btn-outline-primary arabic-btn" for="btnOutput-ar">العربي</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnRadio_output" id="btnOutput-fa" value="fa" autocomplete="off" onclick="disableCorrespondingRadio('output', this); changeText(this)" checked>
                        <label class="btn btn-outline-primary persian-btn" for="btnOutput-fa">فارسی</label>
                    </div>
                    </div>
                    <textarea class="form-control" name="translation" id="translation" rows="25" readonly dir='rtl'></textarea>
                    <input type="hidden" id="translation_hidden" value="{{ translation }}">
                    <input type="hidden" id="selected_user" name= "selected_user" value="{{ selected_user }}">
                    <input type="hidden" id="mode" name= "mode" value="{{ mode }}">
                    <input type="hidden" id="source_lang" name= "source_lang" value="{{ source_lang }}">
                    <input type="hidden" id="target_lang" name= "target_lang" value="{{ target_lang }}">
                    <input type="hidden" id="current_state" value="{{ source_lang }}">
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary clear-btn" onclick="clearText('translation'); showMessage('Cleared!', this)"><img id="clear-icon"></button>
                        <button type="button" class="btn btn-success copy-btn" onclick="copyText('translation'); showMessage('Copied!', this)"><img id="copy-icon"></button>
                </div>
            </div>
            {% if mode == "user" %}
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                <div style="position: relative;">
                    <button type="submit" id="translate-btn" name="translate-btn" class="btn" onclick="encryptText(event, 'translating')">Translate!</button>
                    <div class="spinner-border" id="spinner" role="status" style="display: none; position: relative; top: 8px; left: 30px; padding: 0; margin: 0;">
                    <span class="sr-only"></span>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'js/main/translation.js' %}"></script>
<script>
window.onload = function() {
    var translation = document.getElementById("translation");
    var source_text = document.getElementById("source_text");
    var sourceLang = document.getElementById('source_lang').value; 
    var targetLang = document.getElementById('target_lang').value;
    var translation_hidden = document.getElementById("translation_hidden").value;
    var source_text_hidden = document.getElementById("source_text_hidden").value;
    var aesRawKey = localStorage.getItem("aesRawKey_translation");
    var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
    var decryptedSourceText = CryptoJS.AES.decrypt(source_text_hidden, aesKey, {mode: CryptoJS.mode.ECB});
    var decryptedTranslation = CryptoJS.AES.decrypt(translation_hidden, aesKey, {mode: CryptoJS.mode.ECB});
    var decryptedSourceTextValue = decryptedSourceText.toString(CryptoJS.enc.Utf8);
    var decryptedTranslationValue = decryptedTranslation.toString(CryptoJS.enc.Utf8);
    decryptedSourceTextValue = decryptedSourceTextValue.replace(/[\x00-\x09\x0B-\x1F\x7F-\x9F]/g, '');
    decryptedTranslationValue = decryptedTranslationValue.replace(/[\x00-\x09\x0B-\x1F\x7F-\x9F]/g, '');
    source_text.value = decryptedSourceTextValue;
    translation.value = decryptedTranslationValue;
    if (sourceLang === "en" ) {
      sourceText_English = decryptedSourceTextValue;
    } else if (sourceLang === "ar" ){
      sourceText_Arabic = decryptedSourceTextValue;
    } else if (sourceLang === "fa" ){
      sourceText_Persian = decryptedSourceTextValue;
    };
    if (targetLang === "en" ) {
      transText_English = decryptedTranslationValue;
    } else if (targetLang === "ar" ){
      transText_Arabic = decryptedTranslationValue;
    } else if (targetLang === "fa" ){
      transText_Persian = decryptedTranslationValue;
    };
    localStorage.removeItem("aesRawKey_translation");


    var textArea1 = document.getElementById('source_text');
    var textArea2 = document.getElementById('translation');

    var radioInput = document.getElementsByName("btnRadio_input");
    var radioOutput = document.getElementsByName("btnRadio_output");

    if (sourceLangElement.value === "en") {
    applyLanguageSettings (textArea1, "en", "input")
    for (var i = 0; i < radioInput.length; i++) {
      if (radioInput[i].id === "btnInput-en") {radioInput[i].checked = true;} else {radioInput[i].checked = false};        
    }
  };
  if (sourceLangElement.value === "ar") {
    applyLanguageSettings (textArea1, "ar", "input")
    for (var i = 0; i < radioInput.length; i++) {
      if (radioInput[i].id === "btnInput-ar") {radioInput[i].checked = true;} else {radioInput[i].checked = false};        
    }
  };
  if (sourceLangElement.value === "fa") {
    applyLanguageSettings (textArea1, "fa", "input")
    for (var i = 0; i < radioInput.length; i++) {
      if (radioInput[i].id === "btnInput-fa") {radioInput[i].checked = true;} else {radioInput[i].checked = false};        
    }
  };
  if (targetLangElement.value === "en") {
    applyLanguageSettings (textArea2, "en", "output")
    for (var i = 0; i < radioOutput.length; i++) {
      if (radioOutput[i].id === "btnOutput-en") {radioOutput[i].checked = true;} else {radioOutput[i].checked = false};        
    }
  };
  if (targetLangElement.value === "ar") {
    applyLanguageSettings (textArea2, "ar", "output")
    for (var i = 0; i < radioOutput.length; i++) {
      if (radioOutput[i].id === "btnOutput-ar") {radioOutput[i].checked = true;} else {radioOutput[i].checked = false};        
    }
  };
  if (targetLangElement.value === "fa") {
    applyLanguageSettings (textArea2, "fa", "output")
    for (var i = 0; i < radioOutput.length; i++) {
      if (radioOutput[i].id === "btnOutput-fa") {radioOutput[i].checked = true;} else {radioOutput[i].checked = false};        
    }
  };

    }

function showMessage(message, button) {
  const messageBox = document.createElement('div');
  messageBox.textContent = message;
  messageBox.classList.add('showing-message');
  button.appendChild(messageBox);

  const buttonRect = button.getBoundingClientRect();
  const messageBoxRect = messageBox.getBoundingClientRect();
  const topOffset = buttonRect.top - messageBoxRect.height + 10;
  const leftOffset = buttonRect.left + (buttonRect.width - messageBoxRect.width) / 2;

  messageBox.style.top = topOffset + 'px';
  messageBox.style.left = leftOffset + 'px';

  setTimeout(function() {
    messageBox.remove();
  }, 500);
}

function updateCharacterCount() {
  var textarea = document.getElementById('source_text');
  var charCount = document.getElementById('charCount');
  var maxLength = 20000;
  var currentLength = textarea.value.length;
  if (currentLength > maxLength) {
    charCount.textContent = currentLength + '/' + maxLength + ' characters';
    charCount.style.color = 'red';
  } else {
    charCount.textContent = currentLength + '/' + "20,000" + ' characters';
    charCount.style.color = 'black';
  }

}
</script>
{% endblock %}