{% extends "main\base.html" %}
{% load static %}

{% block head-static %}
{% comment %} <script type="text/javascript" src="{% static 'js/main/translation-Per_default.js' %}"></script> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/translation-Per_default.css' %}">
<script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {{ form.media }}
    {% if edit_mode %}
        <form action="{% url 'main:edit_saved_text' task_id%}" method="post">
    {% else %}
        <form id="translation_form" action="{% url 'main:translation' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="row d-flex justify-content-center" id="main-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        <h6 dir='rtl'>{{ message }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
            <div class="d-flex justify-content-end" style="position: top: 0; right: 0; padding: 0px;">
            {% if edit_mode %}
                <button type="submit" id="edit-btn" name="edit-btn" class="btn btn-success" style="margin-right: 5px">ثبت ویرایش</button>
                    <button type="submit" id="remove-btn" name="remove-btn" class="btn btn-danger">حذف</button>
            {% else %}
                <button type="button" id="save-btn" name="save-btn" class="btn btn-success">ذخیره شود</button>
            {% endif %}
            </div>
                <div class="col-md-6">
                <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px">
                    <div>
                        <input type="radio" class="btn-check" name="btnradio_left" id="btnradio1" autocomplete="off" value="English">
                        <label class="btn btn-outline-primary english-btn" for="btnradio1">English</label>
                    </div>

                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnradio_left" id="btnradio2" autocomplete="off" value="Persian" checked>
                        <label class="btn btn-outline-primary persian-btn" for="btnradio2">فارسی</label>
                    </div>
                    </div>
                    <textarea class="form-control" name="source_text" id="source_text" rows="25" placeholder="متن را وارد کنید" dir='rtl'>{{source_text}}</textarea>
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary" id="clear-btn" onclick="clearText('source_text')">پاک</button>
                        <button type="button" class="btn btn-success" id="copy-btn" onclick="copyText2('source_text')">کپی</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group-lg d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group" style="padding-bottom: 10px; padding-top: 0px">
                    <div>
                        <input type="radio" class="btn-check" name="btnradio_right" id="btnradio4" value="Persian" autocomplete="off" disabled>
                        <label class="btn btn-outline-primary persian-btn" for="btnradio2">فارسی</label>
                    </div>
                    <div style="margin-left: 7px;">
                        <input type="radio" class="btn-check" name="btnradio_right" id="btnradio3" value="English" autocomplete="off" checked disabled>
                        <label class="btn btn-outline-primary english-btn" for="btnradio1">English</label>
                    </div>
                    </div>
                    <textarea class="form-control" id="translation" name="translation" rows="20" readonly>{{translation}}</textarea>
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary" id="clear-btn" onclick="clearText('translation')">پاک</button>
                        <button type="button" class="btn btn-success" id="copy-btn" onclick="copyText2('translation')">کپی</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <button type="submit" id="translate-btn" name="translate-btn" class="btn btn-primary" onsubmit="encodeText()" onclick="encodeText()">ترجمه</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'js/main/translation-Per_default.js' %}"></script>
{% endblock %}